body {
    background-color: whitesmoke;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    align-items: stretch;
    
}

body div {
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    align-self: stretch;
}

body div p {
    padding-bottom: 20px;
}

.fpImg {
    background-color: lightgray;
    
}

.fpImg img {
    max-height: 90vh;
}


