
body {
    background-color: lightcyan;
}

#header {
    background-color: beige;
    text-align: center;
    font-size: 50;
    padding: 10px;
}
 
#navigationBar {
    background-color: green;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}


#navigationBar button {
  color: black;
  text-align: center;
  padding: 14px 16px;
  
}




